<h1 nz-typography>Performance Testing Dashboard</h1>

<div style="margin-bottom: 16px;">
  <button nz-button (click)="toggleSort()">Sort</button>
  <button nz-button nzType="primary" (click)="visible = true">Add Record</button>
</div>

<nz-table #basicTable [nzData]="data" [nzFrontPagination]="false" [nzTotal]="total" [nzBordered]="true"
  [nzLoading]="loading" [nzPageSize]="pageSize" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
  (nzPageIndexChange)="handlePaginationChange($event, pageSize)"
  (nzPageSizeChange)="handlePaginationChange(currentPage, $event)" [nzShowTotal]="totalTemplate">
  <ng-template #totalTemplate let-total>Total {{ total }} items</ng-template>
  <thead>
    <tr>
      <th nzWidth="25%" nzShowSort [nzSortOrder]="sortOrder" (nzSortOrderChange)="toggleSort()">Name</th>
      <th nzWidth="25%">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of data">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="visible" nzTitle="Add Record" (nzOnOk)="handleAdd()" (nzOnCancel)="visible = false">
  <ng-container *nzModalContent>
    <form nz-form [nzLayout]="'vertical'">
      <nz-form-item>
        <nz-form-label>Name</nz-form-label>
        <nz-form-control>
          <input nz-input [(ngModel)]="newRecord.name" name="name" placeholder="Enter name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Email</nz-form-label>
        <nz-form-control>
          <input nz-input [(ngModel)]="newRecord.email" name="email" type="email" placeholder="Enter email" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>